<div class="partners-container">
    <ul>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
        <li><img src="#" alt=""></li>
    </ul>
</div>

<div class="info-container">
    <img src="#" alt="">
    <div class="info-list">
        <span>About IEMU11</span>
        <ul>
            <li>인사말</li>
            <li>역사</li>
            <li>회칙 및 강령</li>
        </ul>
    </div>
    <div class="info-list">
        <span>Contact</span>
        <ul>
            <li>주소</li>
            <li>연락처</li>
            <li>이메일</li>
        </ul>
    </div>
</div>

<span>Copyright ⓒ IEMU11</span>