{% load static %}

<div class="footer-container">
    <div class="footer-main">
        <span class="footer-main__title">IEMU11</span>
        <div class="footer-main__list">
            <ul class="footer-info__list">
                <span><strong>ABOUT</strong>US</span>
                <li>소개글</li>
                <li>인사말</li>
                <li>조직도</li>
                <li>파트너</li>
            </ul>
            <ul class="footer-info__list">
                <span><strong>ACT</strong>IVITIES</span>
                <li>훈련</li>
                <li>공식 경기</li>
                <li>사회 공헌 활동</li>
                <li>파트너</li>
            </ul>
            <ul class="footer-info__list">
                <span><strong>JOIN</strong>US</span>
                <li>모집안내</li>
                <li>선수단</li>
                <li>챌린저스</li>
                <li>모집절차</li>
            </ul>
            <ul class="footer-info__list">
                <span><strong>BOARD</strong></span>
                <li>공지사항</li>
                <li>CSR</li>
                <li>갤러리</li>
            </ul>
        </div>
    </div>
    <div class="footer-sub">
        <span>ⓒ Since 2011 IEMU11, All Rights Reserved</span>
        <div class="footer-sns">
            <span>Follow us ON</span>
            <ul class="footer-sns__list">
                <li class="footer-sns__item">
                    <a href="https://www.instagram.com/iemu11/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="footer-sns__item">
                    <a href="https://www.facebook.com/IEMU11/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="footer-sns__item">
                    <a href="https://www.youtube.com/channel/UCpq4QCYACaqv_9m_TO-IkdQ" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="footer-sns__item naver-cafe">
                    <a href="https://cafe.naver.com/iemu11" target="_blank"><img class="naver-cafe-logo" src="{% static 'logos/naver_cafe.png' %}" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
