{% load static %}
<div class="nav">
    <div class="nav-container">
        <a class="nav-logo" href="{% url 'core:home' %}">
            <img src="{% static 'logos/logo.png' %}" alt="" class="nav-logo__img">
            <h1 class="nav-logo__text">IEMU11</h1>
        </a>
        <div class="nav-link">
            <div class="nav-link__item dropdown">
                <a class="dropdown-button" href="{% url 'core:intro' %}">About Us</a>
                <div class="dropdown-content">
                    <a href="{% url 'core:intro' %}">소개</a>
                    <a href="#">인사말</a>
                    <a href="#">조직도</a>
                    <a href="#">파트너</a>
                </div>
            </div>
            <div class="nav-link__item dropdown">
                <a class="dropdown-button" href="#">Activities</a>
                <div class="dropdown-content">
                    <a href="#">내부 활동</a>
                    <a href="#">외부 활동</a>
                    <a href="#">사회공헌 활동</a>
                </div>
            </div>
            <div class="nav-link__item dropdown">
                <a class="dropdown-button" href="#">Join Us</a>
                <div class="dropdown-content">
                    <a href="#">회원 모집</a>
                    <a href="#">모집 절차</a>
                    <a href="#">FAQs</a>
                </div>
            </div>
            <div class="nav-link__item dropdown">
                <a class="dropdown-button" href="#">Board</a>
                <div class="dropdown-content">
                    <a href="#">공지사항</a>
                    <a href="#">봉사안내</a>
                    <a href="#">갤러리</a>
                </div>
            </div>
        </div>
    </div>
</div>
