{% load static %}
<div class="nav">
    <div class="nav-container">
        <a class="nav-logo" href="{% url 'core:home' %}">
            <img src="{% static 'logos/logo.png' %}" alt="" class="nav-logo__img">
            <h1 class="nav-logo__text">IEMU11</h1>
        </a>
        <div class="nav-link nav-dropdown">
            <ul class="nav-link__item nav-dropdown__btn"><a href="{% url 'core:intro' %}">About Us</a>
                <li class="nav-dropdown__content"><a href="#">Intro</a></li>
                <li class="nav-dropdown__content"><a href="#">Greeting</a></li>
                <li class="nav-dropdown__content"><a href="#">Organization</a></li>
                <li class="nav-dropdown__content"><a href="#">Partners</a></li>
            </ul>
            <ul class="nav-link__item nav-dropdown"><a href="#">Activities</a>
            </ul>
            <ul class="nav-link__item nav-dropdown"><a href="#">Join Us</a>
            </ul>
            <ul class="nav-link__item nav-dropdown"><a href="#">Board</a>
            </ul>
        </div>
    </div>
</div>
