{% load static %}

<div class="container">
    <div class="partners">
        <div class="partners__text">
            <span><strong>PART</strong>NERS</span>
        </div>
        <ul class="partners-list">
            <li>
                <a href="https://www.instagram.com/plan100financial/" target="_blank"><img class="partners-img" src="{% static 'logos/plan100.png' %}" alt=""></a>
            </li>
            <li>
                <a href="http://hongjongho.com/" target="_blank"><img class="partners-img" src="{% static 'logos/hong.png' %}" alt=""></a>
            </li>
            <li>
                <a href="https://theninetyplus.com/" target="_blank"><img class="partners-img" src="{% static 'logos/ninetyplus.png' %}" alt=""></a>
            </li>
            <li>
                <a href="#" target="_blank"><img class="partners-img" src="{% static 'logos/conan.png' %}" alt=""></a>
            </li>
            <li>
                <a href="https://www.instagram.com/safyou_official/" target="_blank"><img class="partners-img" src="{% static 'logos/safyou.png' %}" alt=""></a>
            </li>
            <li>
                <a href="http://smu-lincplus.ac.kr/sub/main.php" target="_blank"><img class="partners-img" src="{% static 'logos/linkplus.png' %}" alt=""></a>
            </li>
            <li>
                <a href="https://www.instagram.com/cafe_kang/" target="_blank"><img class="partners-img" src="{% static 'logos/cafekang.png' %}" alt=""></a>
            </li>
            <li>
                <a href="http://www.hwelfare.or.kr/" target="_blank"><img class="partners-img" src="{% static 'logos/hongsabok.png' %}" alt=""></a>
            </li>
        </ul>
    </div>
</div>