{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}


{% block content %}

{% load static %}

<div class="main-banner">
    <div class="main-banner__box">
        <div class="main-banner__text">
            <span>축구, 그 이상의 가치</span>
            <span>IEMU11</span>
        </div>
        <img src="{% static 'img/main-banner-img.png' %}" alt="" class="main-banner__img">
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="info__text">
            <span><strong>INFO</strong>MATION</span>
        </div>
        <div class="info-box">
            <a href="#">
                <div class="info-banner">
                    <img class="info-banner__img" src="{% static 'img/main-info_1.png' %}" alt="">
                    <div class="info-banner__text">
                        <span>선수단</span>
                        <span>PLAYERS</span>
                        <span>01학번부터 21학번까지,</span>
                        <span>20년 이상의 역사</span>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="info-banner">
                    <img class="info-banner__img" src="{% static 'img/main-info_2.png' %}" alt="">
                    <div class="info-banner__text">
                        <span>챌린저스</span>
                        <span>CHALLENGERS</span>
                        <span>스포츠 마케팅부터 봉사까지,</span>
                        <span>Whenever You Want, Do Whatever</span>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="info-banner">
                    <img class="info-banner__img" src="{% static 'img/main-info_3.png' %}" alt="">
                    <div class="info-banner__text">
                        <span>파트너</span>
                        <span>PARTNERS</span>
                        <span>IEMU11과 함께 해주시는</span>
                        <span>파트너사를 소개합니다.</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="project">
        <div class="project__text">
            <span><strong>PRO</strong>JECT</span>
        </div>
        <div class="project-box">
            <div class="project-card">
                <div class="project-card__text">
                    <h3 class="project-card__title">교내리그 최다 우승</h3>
                    <h3 class="project-card__title">16 17 18 19 20 쭉 그대로</h3>
                    <span class="project-card__content">
                        우승 기사 우승 기사 우승 기사 우승 기사 우승 기사 우승 기사
                    </span>
                    <a href="#" class="btn-more">더보기</a>
                </div>
                <img src="{% static 'img/main-project_1.png' %}" alt="" class="project-card__img">
            </div>
            <div class="project-card">
                <div class="project-card__text">
                    <h3 class="project-card__title">BePro11 챔피언스리그부터</h3>
                    <h3 class="project-card__title">K7 리그까지</h3>
                    <span class="project-card__content">
                        우승 기사 우승 기사 우승 기사 우승 기사 우승 기사 우승 기사
                    </span>
                    <a href="#" class="btn-more">더보기</a>
                </div>
                <img src="{% static 'img/main-project_2.png' %}" alt="" class="project-card__img">
            </div>
            <div class="project-card">
                <div class="project-card__text">
                    <h3 class="project-card__title">2021년 사회공헌 활동</h3>
                    <h3 class="project-card__title">'연탄을 나눠드려U'</h3>
                    <span class="project-card__content">
                        우승 기사 우승 기사 우승 기사 우승 기사 우승 기사 우승 기사
                    </span>
                    <a href="#" class="btn-more">더보기</a>
                </div>
                <img src="{% static 'img/main-project_3.png' %}" alt="" class="project-card__img">
            </div>
            <div class="project-card">
                <div class="project-card__text">
                    <h3 class="project-card__title">Do Whatever U want</h3>
                    <h3 class="project-card__title">자체 프로젝트</h3>
                    <span class="project-card__content">
                        우승 기사 우승 기사 우승 기사 우승 기사 우승 기사 우승 기사
                    </span>
                    <a href="#" class="btn-more">더보기</a>
                </div>
                <img src="{% static 'img/main-project_4.png' %}" alt="" class="project-card__img">
            </div>
        </div>
    </div>


</div>


{% endblock %}