{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}


{% block content %}

{% load static %}

<div class="main-banner">
    <div class="main-banner__box">
        <div class="main-banner__text">
            <span>축구, 그 이상의 가치</span>
            <span>IEMU11</span>
        </div>
        <img src="{% static 'img/main-banner-img.png' %}" alt="" class="main-banner__img">
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="info__text">
            <span><strong>Info</strong>mation</span>
        </div>
        <div class="info-box">
            <div class="info-banner">
                <span>선수단</span>
                <span>PLAYERS</span>
                <span>01학번부터 21학번까지,</span>
                <span>20년 이상의 역사</span>
            </div>
            <div class="info-banner"></div>
            <div class="info-banner"></div>
        </div>
    </div>
    
</div>


{% endblock %}