{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}


{% block content %}

{% load static %}

<div class="main-banner">
    <div class="main-banner__box">
        <div class="main-banner__text">
            <span>축구, 그 이상의 가치</span>
            <span>IEMU11</span>
        </div>
        <img src="{% static 'img/main-banner-img.png' %}" alt="" class="main-banner__img">
    </div>
</div>

<div class="container">
    <div class="info">
        <div class="info__text">
            <span><strong>INFO</strong>MATION</span>
        </div>
        <div class="info-box">
            <div class="info-banner">
                <div class="info-banner__text">
                    <span>선수단</span>
                    <span>PLAYERS</span>
                    <span>01학번부터 21학번까지,</span>
                    <span>20년 이상의 역사</span>
                </div>
            </div>
            <div class="info-banner">
                <div class="info-banner__text">
                    <span>챌린져스</span>
                    <span>CHALLENGERS</span>
                    <span>스포츠마케팅부터 봉사까지,</span>
                    <span>Whenever You Want, Do Whatever</span>
                </div>
            </div>
            <div class="info-banner">
                <div class="info-banner__text">
                    <span>파트너</span>
                    <span>PARTNERS</span>
                    <span>IEMU11과 함께 해주시는</span>
                    <span>파트너사를 소개합니다.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="project">
        <div class="project__text">
            <span><strong>PRO</strong>JECT</span>
        </div>
        <div class="project-box">
            <div class="project-card">
                <h3 class="project-card__title">교내리그 우승 16 17 18 19 20 쭉 그대로</h3>
                <span class="project-card__text">
                    우승 기사 우승 기사 우승 기사 우승 기사 우승 기사 우승 기사
                </span>
                
            </div>
        </div>
    </div>
    
</div>


{% endblock %}